@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.header-child {
  font-family: "Popins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #D80032;
}

